@font-face {
    font-family: 'tRee-Font';
    src: url("tReeFonts/tRee.eot?5kiojs");
    src: url("tReeFonts/tRee.eot?5kiojs#iefix") format("embedded-opentype"),
    url("tReeFonts/tRee.ttf?5kiojs") format("truetype"),
    url("tReeFonts/tRee.woff?5kiojs") format("woff"),
    url("tReeFonts/tRee.svg?5kiojs#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

div.tRee > ul > li:nth-child(1)::before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: ghostwhite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e901";
    margin: 0 10px 0 -20px;
    font-size: 1.6rem;
    vertical-align: middle;
}

div.tRee .tRee-caption > p::before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e902";
    margin: 0 6px;
    font-size: 1.6rem;
    vertical-align: middle;
}

div.tRee .tReePop span:nth-child(1)::before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e903";
    margin: 0 6px 0 0;
    font-size: 1rem;
    vertical-align: middle;
}

div.tRee .tReePop span:nth-child(2)::before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #f71656;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e904";
    margin: 0 6px 0 0;
    font-size: 1rem;
    vertical-align: middle;
}

div.tRee .tReePop span:nth-child(3)::before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e905";
    margin: 0 6px 0 0;
    font-size: 1rem;
    vertical-align: middle;
}

div.tRee ul li > a::before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: chocolate;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e900";
    margin: 0 6px 0 0;
    font-size: 1.6rem;
    vertical-align: middle;
}

div.tRee {
    list-style: none;
    color: antiquewhite;
    position: absolute;
    max-width: max-content;
    max-height: max-content;
    width: 400px;
    min-width: max-content;
    height: max-content;
    top: 25%;
    left: 45%;
    background-color: #00000096;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    border: 1px solid #aaaac1;
    padding: 10px 10px 0 5px;
}

div.tRee > ul {
    direction: ltr;
    padding: 0 20px;
    margin-top: -2px;
    max-width: 600px;
    max-height: 500px;
    min-width: 300px;
    width: max-content;
    overflow: auto;
    scrollbar-color: #dddddd transparent;
    scrollbar-width: thin;
}

div.tRee > ul::-webkit-scrollbar {
    width: 16px;
}

div.tRee > ul::-webkit-scrollbar-track {
    background: none;
    border: none;
}

div.tRee > ul::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 50px;
}

div.tRee > ul > li > ul {
    display: block !important;
    margin: 8px 0 0 -20px;
}

div.tRee > ul > li:nth-child(1) {
    color: antiquewhite;
}

div.tRee li {
    direction: ltr;
    position: relative;
    padding: 2px;
    cursor: default;
    color: burlywood;
    margin-top: 5px;
    transition: all .2s ease-in-out;
}

div.tRee li .marker {
    border-radius: 10px;
    position: absolute;
    left: -15px;
    z-index: 1;
    top: 9px;
    width: 0;
    height: 0;
    cursor: pointer;
}

div.tRee li .marker-right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid burlywood;
}

div.tRee li .marker-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid burlywood;
}

div.tRee ul {
    list-style: none;
}

div.tRee ul li > a {
    position: relative;
    color: antiquewhite;
}

div.tRee ul li > a:before {
    font-family: 'tRee-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: chocolate;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e900";
    margin: 0 6px 0 0;
    font-size: 1.6rem;
    vertical-align: middle;
}

div.tRee ul li > a:hover {
    background-color: ivory;
    border-radius: 5px;
    padding: 5px 8px;
    border: 2px solid chocolate;
    color: black;
}

div.tRee .tRee-caption {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-start;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    cursor: move;
}

div.tRee .tRee-caption > p {
    color: #FFF;
}

div.tRee .tRee-caption > p:before {
    vertical-align: bottom !important;
}

div.tRee #tRee-input-addr {
    direction: ltr !important;
    width: 100%;
    background: transparent;
    border: navajowhite;
    font-size: 10px;
    padding: 5px;
    user-select: none;
    color: #999;
    font-family: JetBrains, sans-serif;
}

div.tRee .tReePop {
    width: max-content;
    height: max-content;
    border-radius: 50px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 2px 2px 4px 8px;
    animation: zoomIn .5s;
    z-index: 1;
}

div.tRee .tReePop span {
    cursor: default;
}

div.tRee .tReePop span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid ivory;
}

div.tRee .tRee-footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #d9d6d626;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

div.tRee .tRee-footer button:nth-child(1), div.tRee .tRee-footer button:nth-child(2) {
    width: max-content!important;
    height: max-content!important;
    outline: none!important;
    transition: all 150ms cubic-bezier(0, 0, 0.58, 1)!important;
    user-select: none!important;
    -moz-user-select: none!important;
    -webkit-user-select: none!important;
    text-align: center!important;
    display: inline-block!important;
    -webkit-appearance: button!important;
    -moz-appearance: button!important;
    animation: bounceIn 2s!important;
    background-color: transparent!important;
    color: #FFF!important;
    border-radius: 5px!important;
    padding: 5px 10px!important;
    border: 1px solid #FFF!important;
    font: ".8rem normal IRANSans,monospace";
    margin-right: 10px!important;
}

div.tRee .tRee-footer button:nth-child(1):hover, div.tRee .tRee-footer button:nth-child(2):hover {
    background-color: #FFF!important;
    border: 1px solid chocolate!important;
    color: #fff!important;
    font-weight: 600!important;
}

div.tRee .tRee-footer button:nth-child(1):hover span:before, div.tRee .tRee-footer button:nth-child(2):hover span:before {
    color: #fff!important;
}

div.tRee .tRee-footer button:nth-child(1) span:before, div.tRee .tRee-footer button:nth-child(2) span:before {
    font-family: 'Uha-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "啕";
    margin: 0 -3px 0 6px;
    font-size: 1rem;
    vertical-align: middle;
}

div.tRee .tRee-footer button:nth-child(1):active, div.tRee .tRee-footer button:nth-child(2):active {
    background-color: chocolate!important;
    border: 1px solid #FFF!important;
}

div.tRee .tRee-footer button:nth-child(1):hover, div.tRee .tRee-footer button:nth-child(2):hover {
    background-color: navajowhite!important;
    border: 1px solid chocolate!important;
    color: black!important;
}

div.tRee .tRee-footer button:nth-child(1) {
    flex-grow: 5!important;
}

div.tRee .tRee-footer button:nth-child(2) {
    flex-grow: 1!important;
}

div.tRee .tRee-footer #tRee-cancel {
    margin-right: 10px!important;
    width: max-content!important;
    height: max-content!important;
    outline: none!important;
    transition: all 150ms cubic-bezier(0, 0, 0.58, 1)!important;
    user-select: none!important;
    -moz-user-select: none!important;
    -webkit-user-select: none!important;
    text-align: center!important;
    display: inline-block!important;
    -webkit-appearance: button!important;
    -moz-appearance: button!important;
    animation: bounceIn 2s!important;
    background-color: transparent!important;
    color: #f71656!important;
    border-radius: 5px!important;
    padding: 5px 10px!important;
    border: 1px solid #f71656!important;
    font: ".8rem normal IRANSans,monospace"!important;
}

div.tRee .tRee-footer #tRee-cancel:hover {
    background-color: #f71656!important;
    border: 1px solid #b00038!important;
    color: #fff!important;
    font-weight: 600!important;
}

div.tRee .tRee-footer #tRee-cancel:hover span:before {
    color: #fff;
}

div.tRee .tRee-footer #tRee-cancel span:before {
    font-family: 'Uha-Font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #f71656;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "啕";
    margin: 0 -3px 0 6px;
    font-size: 1rem;
    vertical-align: middle;
}

div.tRee .tRee-footer #tRee-cancel:active {
    background-color: #b00038;
    border: 1px solid #f71656;
}

.tReeBG {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #f7f7f7 none repeat scroll 0 0 !important;
    opacity: 0.4 !important
}